@import '~bootstrap/scss/bootstrap';

.App {
  // text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



//RP custom styles
.login-btn-image {
  background-color: white;
  padding: 8px;
  position: relative;
  left: -20px;
  top: 1px;
  border: 1px solid #0d6efd;

  img {
    width: 22px;
  }
}

.tb-small-font {
  font-size: 16px;
}

.tb-full-width {
  width: 100%;
}

.hr-lines {
  position: relative;
  max-width: 500px;
  margin: 20px 0;
  text-align: center;

  &:before {
    content: " ";
    height: 2px;
    width: 80px;
    background: #AAAAAA;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }

  &:after {
    content: " ";
    height: 2px;
    width: 80px;
    background: #AAAAAA;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
}


//ScreenUserSelection Styles
.tb-icon-card-header {
  //height: 75px;
  color: #fff;
  text-align: center;
  font-size: 60px;
  padding-top: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tb-checkin-icon {
  background: linear-gradient(60deg, #5E35B1, #039BE5);
}

.tb-queue-icon {
  background: linear-gradient(60deg, #fb8c00, #FFCA29);
}

.tb-survey-icon {
  background: linear-gradient(60deg, #43A047, #FFEB3B);
}


//Queue List Page Styles
.tb-queuepage-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(#242424, #383838);
  color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: auto;
}

.tb-queuelist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  min-height: 500px;
  overflow: hidden;

  .left-content {
    flex-grow: 1;
    flex-basis: 48%;
    width: 50%;
  }

  .right-content {
    flex-grow: 1;
    flex-basis: 48%;
    width: 50%;
  }

  .tb-table-header {
    margin-bottom: 25px;
    padding: 0 30px;
  }

  .serving-list {
    border-right-width: 1px;
    border-right-color: #FFFFFF;
    border-right-style: solid;

    min-height: 400px;
    height: 80%;
  }

  .queue-count {
    font-size: 16px;
  }

  .checkin-time,
  .agent-name {
    font-size: 20px;
    line-height: 30px;
  }
}

//Smiley Page styles
.smiley-wrapper {
  min-width: 18%;
  width: 120px;
}

//Book Appointment Component styles
.tb-appointment-component {
  
  .not-allowed-cursor{
    cursor: not-allowed; 
  }
}


.tb-apt-modal{
  .blank {
    height: 0 !important;
    display: none;
  }
  .appointment{
    height:40px !important;
  }
  .appointment-picker__col{
    padding: 0 5px;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


//Define some animations
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}


@keyframes myscale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.1);
  }
}